*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title{    /*titolo */
    display: inline-block;
    font-size: 40px;
    font-family: sans-serif;

}

#logo{
    vertical-align: middle;
    margin: 15px 0px 15px 15px;
}

header{
    background-color: white;
}

main{
    background-color:rgb(224, 215, 215);
}

.container{
    background-color: white;
    margin-top: 50px;
    

}

#button_1{
    background-color: rgba(72, 180, 253, 0.871);
    color: white;
    border-color:rgba(72, 180, 253, 0.871) ;
}
#button_2{
    background-color: white;
    color: lightgrey;
    border-color: lightgray;
    
}

.button{
    font-size: 12px;
    border-radius: 4px;
    padding: 8px;
}